<div class="row">
  <h2 class="text-center">Конструктор колод.</h2>
</div>
{{deck-form deckTypes=model.deckTypes deck=model.deck playerClasses=playerClasses action='addCardToDeck' currentPlayerClass=currentPlayerClass}}

