<div class="row">
  <h2 class="text-center">Конструктор синерджи.</h2>
</div>

{{synergy-form synergy=model.synergy cards=model.cards action='addCardToSynergy' currentPlayerClass=currentPlayerClass}}
