.card__img {
  max-width: 250px;
}
.card__random-card{
  width: 230px;
}

span.game-card {
  font-weight: bold;
  cursor: pointer;
}
.Free {
  color: #000;
}
.Common {
  color: #000;
}
.Rare {
  color: #198EFF;
}
.Epic {
  color: #AB48EE;
}
.Legendary {
  color: #F07000;
}

