.private-message {
  padding: 0 5px 0 5px;
}
.private-message_unread {
  background-color: #eee;
  border-radius: 2px;
}
.private-message__margin {
  margin-top: 4px;
  margin-bottom: 4px;
}
.private-message__body {
  padding-left: 45px;
}