.search-cards {
  cursor: pointer;
  position: relative;
}
.search-cards:hover .search-cards__popup {
  display: table;
}
.search-cards__popup {

  display: none;
  position: absolute;
  width: 300px;
  color: #d6d6d6;
  background: rgba(0, 0, 0, 0.79);
  border-radius: 5px;
  bottom: 50px;
  left: 50%;
  margin-left: -76px;
  z-index: 999;
}

.search-cards__popup:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 15%;
  margin-left: -8px;
  width: 0; height: 0;
  border-top: 8px solid rgba(0, 0, 0, 0.79);
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
