<div {{action 'closeModal' }} class="custom-alert alert alert-success" role="alert">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  Ваш пароль успешно восстановлен.
  Войдите в систему используя свой логин и пароль.
</div>
