<div {{action 'toggleLike'}} class="btn">
  <span class="{{if isLiked 'isLiked'}} glyphicon glyphicon-heart"></span>
</div>
{{likesCount}}
{{#if isShowUsers}}
  <div class="whoLiked popover right">
    <h3 class="popover-title">Кому понравилось?</h3>
    <div class="popover-content">
      <ul>
        {{#each sliceLikes as |like|}}
          <li>{{like.user.email}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
{{/if}}

