<div class="modal-body">
  <form class="form-horizontal">
    {{#if isNewPasswordError}}
      <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{#each newPasswordError.email as |err|}}
          {{err}}
        {{/each}}
      </div>
    {{/if}}
    <div class="form-group">
      <label for="email" class="col-sm-3 control-label">Почта</label>
      <div class="col-sm-9">
        {{input value=currentUser.email class='form-control' type='email' id='email' placeholder='Почта' }}
      </div>
    </div>

  </form>
</div>

<div class="modal-footer">
  <button {{action 'createNewPassword'}} class="btn btn-primary">Подтвердить</button>
</div>

