{{#notifi-panel model=model transition='transition' close='closeModal'}}
  <button {{action 'closeModal' }} type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
{{/notifi-panel}}
