{{#modal-dialog action='closeModal'}}
  <div class="modal-header">
    <button {{action 'closeModal'}}type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Восстановить пароль</h4>
  </div>
  {{password-new close='closeModal' openHint='openModal'}}
{{/modal-dialog}}

