{{#if model.isDeleted}}
  <h2 class="text-center">Синергия удалена</h2>
{{else}}

  <h2 class="text-center">Изменить синергию</h2>
  {{synergy-form synergy=model currentPlayerClass=model.playerClass.en_name}}
{{/if}}

