<div class="col-md-4">
  <div class="bordered margin-bottom user__avatar"></div>
  {{random-card}}

</div>
<div class="col-md-8">
  <div>
    <span class="pull-right"><i>{{online model.updatedAt}}</i></span>
    <h3>{{model.publicNickname}}</h3>
  </div>
  <ul class="nav nav-tabs  margin-bottom">
    <li>{{#link-to 'user.decks' model.nickname}}Колоды{{/link-to}}</li>
    <li>{{#link-to 'user.synergies' model.nickname}}Синерджи{{/link-to}}</li>
    <li>{{#link-to 'user.comments' model.nickname}}Комментарии{{/link-to}}</li>
  </ul>
  {{outlet}}
</div>

