<div class="container">
  <div class="row">
    {{#if currentUser.isLogIn}}
      {{#if currentUser.user.isAdmin}}
        <h3>{{currentUser.user.email}}</h3>
        <button class="btn btn-primary"{{action 'logOut'}}>log out</button>
        {{#link-to 'login'}}login{{/link-to}}
        <hr>
        {{#link-to 'guides'}}guides{{/link-to}}
        {{#link-to 'guide_categories'}}guide-category{{/link-to}}
        <hr>
      {{/if}}
    {{/if}}
    {{outlet}}
  </div>
</div>
