<table class="table table-bordered">
  <thead>
  <tr>
    <th class="col-md-10">Название</th>
    <th class="col-md-2">Мана</th>
  </tr>
  </thead>
  <tbody>
  {{#each deck.sortedCards as |card|}}
    {{deck-card card=card action='removeCard'}}
  {{/each}}
  </tbody>
</table>

