<div class='private-message {{if message.unread 'private-message_unread'}}'>
  <hr class="private-message__margin">
  {{#link-to 'user' message.user.publicNickname}}
    {{message.user.publicNickname}}
  {{/link-to}}
  <i class="pull-right">{{currentTime}}</i>
  <div class="private-message__body">
    {{markdown-onebox text=message.body}}
  </div>
</div>

