.deck-list-item__col {
  margin: 0 10px;
}
.deck-list-item__comment-icon {
  color: #198EFF;
  margin: 0 10px;
}
.deck-list-item__name {
  .name {
    width: 290px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.deck-list-item__className {
  width: 90px;
}
.deck-list-item__card-img {
  width: 220px;
}
.deck-list-item__hourglass{
  color: rgba(210, 170, 45, 0.45);
}
.deck-list-item__chevron {
  color: rgba(210, 170, 45, 0.45);
  &:hover {
    color: #f4c732;
  }
  cursor: pointer;
}
$weight: 1.3;
.deck-list-item__crop {
  width: $weight * 37px;
  height: $weight * 37px;
  overflow: hidden;
  border-radius: $weight * 20px;
  float: left;
  margin: 0 5px;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.41);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.41);
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.41);

  img {
    width: $weight * 75px;
    height: $weight * 115px;
    margin-left: -$weight * 17px;
    margin-top: -$weight * 20px;
  }
}
.deck-list-item__full-img {
  max-width: 230px;
}