<div class="container">
  <div class="row">
    {{render 'header'}}
  </div>
  {{#link-to 'application'}}application{{/link-to}}
  {{#link-to 'news.new'}}news new{{/link-to}}
  {{#link-to 'news'}}news{{/link-to}}
  {{outlet 'modal'}}
  {{outlet}}
</div>
