{{#if model.deck.isDeleted}}
  <h2 class="text-center">Колода удалена</h2>
{{else}}

  <h2 class="text-center">Изменить колоду.</h2>
  {{deck-form  deck=model.deck currentPlayerClass=currentPlayerClass}}
{{/if}}
