{{#if model.deck.isDeleted}}
  <h2 class="text-center">Колода удалена</h2>
{{else}}

  <div class="row">
    <h2 class="text-center">Изменить колоду.</h2>
  </div>
  {{deck-form deckTypes=model.deckTypes deck=model.deck action='addCardToDeck' currentPlayerClass=currentPlayerClass}}
{{/if}}
