<div class="wrap-footer">
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <p>some text</p>
          <p>some text</p>
          <p>some text</p>
        </div>
        <div class="col-md-3">
          <p>some text</p>
          <p>some text</p>
          <p>some text</p>
        </div>
        <div class="col-md-3">
          <p>some text</p>
          <p>some text</p>
          <p>some text</p>
        </div>
        <div class="col-md-3">
          <p>some text</p>
          <p>some text</p>
          <p>some text</p>
        </div>
      </div>
    </div>
  </div>
  <div class="links">
    <div class="container">
      <div class="row">
        <div class="col-md-6">some text</div>
        <div class="col-md-6">some text</div>
      </div>
    </div>
  </div>

</div>