<div class="col-md-8">
  <h2 class="text-center">Новости</h2>
  <div id="news">
    {{#each model.news as |news|}}
      {{#unless news.isNew}}
        {{single-news news=news}}
      {{/unless}}
    {{/each}}
  </div>
  {{outlet}}
</div>
<div class="col-md-4">
  {{top-five decks=model.topDecks cards=model.topCards synergies=model.topSynergies}}
  {{random-card}}
</div>
