{{#if model.synergy.isDeleted}}
  <h2 class="text-center">Синергия удалена</h2>
{{else}}

  <div class="row">
    <h2 class="text-center">Изменить синергию</h2>
  </div>
  {{log currentPlayerClass}}
  {{synergy-form synergy=model.synergy currentPlayerClass=currentPlayerClass}}
{{/if}}

