<div class="row">
  <div class="col-md-4">
    <div class="bordered user__avatar"></div>

  </div>
  <div class="col-md-8">
    <h1>{{model.nickname}}</h1>
    <ul class="nav nav-tabs  margin-bottom">
      <li>{{#link-to 'user.decks' model.id}}Колоды{{/link-to}}</li>
      <li>{{#link-to 'user.synergies' model.id}}Синерджи{{/link-to}}</li>
      <li>{{#link-to 'user.comments' model.id}}Комментарии{{/link-to}}</li>
    </ul>
    {{outlet}}
  </div>
</div>
