@import "bootstrap-sprockets";
@import "bootstrap";
@import "loader";
@import "likes";
@import "footer";

.overlay {
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
}
.custom-alert{
  cursor: pointer;
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 450px;
  max-height: 300px;
}
.modal-dialog{
  position: absolute;
  left: 25%;
  z-index: 11;
}
iframe{
  max-width: 100%;
}
